@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. Test2.

<Counter IncrementBy="5" />

<SurveyPrompt Title="How is Blazor working for you?" />

<InputCheckbox @bind-Value="@IsChecked" />

@if (IsChecked) {
    <p>The checkbox has been checked.</p>
} else {
    <p>Not checked.</p>
}

@code {

    public bool IsChecked { get; set; }
}